<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", { title })%>

<body>
  <h1>Database</h1>
  <div class="container">

    <div class="main-container">
      <h2>Created Messages</h2>
      <div class="main-content">
        <% messages.forEach((message, index) => { %>
          <div>
            <h3><%= message.user %></h3>
            <p><span>Created: </span> <%= message.added %></p>
          </div>
          <div>
            <p><%= message.text %></p>
            <div>
              <a href="/message/<%= index+1 %>">SHOW</a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <%- include("partials/navlink", { destination: "/new", name: "Create new message" }) %>

  </div>
</body>
</html>