<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", { title })%>

<body>
  <h1>Database</h1>
  <div class="container">

    <div class="main-container">
      <h2>Created Messages</h2>
      <div class="main-content main-index">
        <% messages.forEach((message, index) => { %>
          <div class="index-message">
            <div class="index-top-info">
              <h3><%= message.user %></h3>
              <p class="created-date-index"><span>Created: </span> <%= message.added %></p>
            </div>
            <div class="index-bottom-info">
              <p class="index-text-message"><%= message.text %></p>
              <div class="show-index">
                <a href="/message/<%= index+1 %>">SHOW</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <%- include("partials/navlink", { destination: "/new", name: "Create new message" }) %>

  </div>
</body>
</html>