<!DOCTYPE html>
<html lang="en">

<%- include("partials/head"), { title } %>

<body>
  <h1>Details</h1>
  <div class="container">

    <div class="main-container">
      <h2>Message details</h2>
      <div class="main-content main-message">
        <div>
          <p class="message-type">From</p>
          <p><%= message.user %></p>
        </div>
        <div>
          <p class="message-type middle">Created</p>
          <p><%= message.added %></p>
        </div>
        <div>
          <p class="message-type">Message</p>
          <p><%= message.text %></p>
        </div>
      </div>
    </div>

    <%- include("partials/navlink", { destination: "/", name: "Home" }) %>

  </div>
</body>
</html>